{% extends 'dnavbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Post page</title>
    <link rel="stylesheet" href="http://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="/static/css/Jobpost.css">
</head>
<body>

    <br><br><br><br>
    <p class="one" style="color:white ;"><b>Post Job</b></p><br><br>
    
    
    <form action="/jobposted" method="post">
        <table >
            <tr>
                <td><label for="Jobtitle"><b>Job title</b></label></td>
                <td><input type="text" name="jtitle" size="50" required placeholder="Title"></td>
            </tr>
            <tr>
                <td><label for="Location"><b>Location</b></label></td>
                <td><input type="text" name="location" size="50" required></td>
            </tr>
            <tr>
                <td><label for="yof"><b>Years of experience</b></label></td>
                <td><select name="minyears" id=""required>
                    <option value="" disabled selected>Select Here</option>
                    
                    <option value="<1"> <1 </option>
                    <option value="2-5">2-5</option>
                    <option value=">5</option>">>5</option>
                    
                </select></td>
            </tr>
            <tr>
                <td><label for="jd"><b>Job Description</b></label></td>
                <td><textarea name="jdes" id="" cols="48" rows="8" required></textarea></td>
            </tr>
            
            
            <tr><td><label for="Category" ><b>Category</b></label></td>



            <td>
                
                <select name="Category" id=""required>
                    <option value="" disabled selected>Select Here</option>
                    
                    <option value="Analytics &Data Science"> Analytics &Data Science </option>
                    <option value="Mobile Applications">Mobile Applications</option>
                    <option value="DevOps">DevOps</option>">
                    <option value="UI & Design">UI & Design</option>">
                    
                </select></td></tr>
        
        <tr><td><label for="Salary"><b>Salary(in lakhs)</b></label></td>
        <td><input name = "salary"type="text" size="50" required></td>
        
        <tr><td><label for="sk"><b>Skills</b></label></td>
            <td><textarea name="skills" id="" cols="48" rows="5" required></textarea></td></tr>
            
                
            <tr><td><input type="submit" id="search"value="Post your job" style="color:tomato ;font-weight: bold;margin-left: 150%;"></td></tr>
        </table>
    </form>

</body>
</html>

{% endblock %}